
<div class="col-md-12 col-sm-12 header" >
    <div class="Maincontainer">
    <div class=" col-md-12 col-sm-12">
        <div class="header_logo">
          <img src="https://in.udacity.com/assets/iridium/images/core/header/udacity-wordmark.svg">
        </div>
        <div class="col-md-7 col-sm-7 pull_right_header ">
          <div class="header_item">
            <button class="header_item_color light">Nanodegree</button>
          </div>
          <div class="header_item">
            <button class="header_item_color light"> For Business </button>
          </div>
          <div class="header_item courseHeader">
            <button class="header_item_color light "> Course Finder </button>
          </div>
          <div class="header_item">
            <button class="header_item_color light" (click)="moveTologinPage()" >Log In
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
