.header{
    position: fixed;
    top: 0px;
    padding: 20px;
    z-index: 8000;
    background: #fff;
    animation: sticky-slide-down .6s ease 1s forwards; 
}
.header_logo    
{
margin-top: 25px;
}
.pull_right_header{
    float: right;
    display: inline-flex;
    margin-top: -28px;
}
.header_item 
{
    padding-right: 60px;
    line-height: 1.9375rem;
}
.header_item_color{
    width: 100px;
    height: 30px;
    font-size: 13px;
    background-color: transparent;
    border: transparent;
    /* color: white; */
    cursor: pointer;
}
@media screen and (max-width: 1300px){
    .Maincontainer{

        margin-left: 0px !important;
        margin-right: 0px!important

    }
}
.Maincontainer{
    margin-right: 150px;
    margin-left:150px;
}
.light {
    font-weight: 100!important;
    color: #525c65;
}
.courseHeader{
    border-bottom-color: transparent!important;
    border: 1px solid;
    border-right-color: grey !important;
    border-left-color :transparent !important;
    border-top-color :transparent !important;
}