<section class="paddingTop50">
    <div class="container">
      <svg alt="Udacity" height="30" viewBox="0 0 30 30" width="30">
        <path d="M29 .5l1 .5v13c0 5.551887-2.8897 8.695692-5.995216 10.099885L24.0094 24.1l-7.620963 4.388562c-.05877.03456-.11776.068527-.176957.101902l-.08642.049764.001806-.00254C14.48289 29.545895 12.684682 30 11 30 6 30 0 26 0 18V6l2 1v11c0 8 6 10 9 10 1.858706 0 4.86901-.76773 6.89043-3.254517C14.181726 23.872636 10 20.678703 10 14V2.2L2 7 0 6l10-6 1 .5 1 .5v13c0 6.939958 4.515283 8.612086 7.017542 8.933368C19.625786 21.62159 20 19.997902 20 18V5l2 1v12c0 1.852645-.321777 3.49077-.878395 4.91438C23.648223 22.549217 28 20.813144 28 14V2.25L22 6l-2-1 8-5 1 .5z"
          fill="#02B3E4" fill-rule="evenodd" id="mark"></path>
      </svg>
      <div class="col-md-12 col-sm-12 fontSize13 paddingTop50" style="display:inline-flex">
        <div class="col-md-3 col-sm-2">
  
          <ul class="list-unstyled">
            <li>
              <h6 class="light">Featured Programs</h6>
              <ul class="list-unstyled" style="list-style: none;padding: 6px;">
  
                <li class="bottomlist fontSize13">
                  Android Basics
                </li>
                <li class="bottomlist fontSize13">
                  Machine Learning Engineer
                </li>
                <li class="bottomlist fontSize13">
                  Become an iOS Developer
                </li>
                <li class="bottomlist fontSize13">
                  Business Analyst
                </li>
                <li class="bottomlist fontSize13">
                  Data Analyst
                </li>
                <li class="bottomlist fontSize13">
                  Front-End Web Developer
                </li>
                <li class="bottomlist fontSize13">
                  Full Stack Web Developer
                </li>
                <li class="bottomlist fontSize13">
                  Intro to Programming
                </li>
                <li class="bottomlist fontSize13">
                  React
                </li>
              </ul>
  
              <!---->
            </li>
          </ul>
        </div>
  
        <div class="col-md-3 col-sm-2">
  
          <ul class="list-unstyled">
            <li>
              <h6 class="light">Only At Udacity</h6>
              <ul class="list-unstyled" style="list-style: none;padding: 6px;">
  
                <li class="bottomlist fontSize13">
                    Artificial Intelligence
                </li>
                <li class="bottomlist fontSize13">
                    Deep Learning
                </li>
                <li class="bottomlist fontSize13">
                    Digital Marketing
                </li>
                <li class="bottomlist fontSize13" >
                    Machine Learning Engineer
                </li>
                <li class="bottomlist fontSize13">
                    Robotics
                </li>
                <li class="bottomlist fontSize13">
                    Self-Driving Car Engineer
                </li>
                <li class="bottomlist fontSize13">
                    VR Developer
                </li>
              </ul>
  
              <!---->
            </li>
          </ul>
        </div>
  
        <div class="col-md-3 col-sm-2">
  
            <ul class="list-unstyled">
              <li>
                <h6 class="light">Only At Udacity</h6>
                <ul class="list-unstyled" style="list-style: none;padding: 6px;">
    
                  <li class="bottomlist fontSize13">
                      Artificial Intelligence
                  </li>
                  <li class="bottomlist fontSize13">
                      Deep Learning
                  </li>
                  <li class="bottomlist fontSize13">
                      Digital Marketing
                  </li>
                  <li class="bottomlist fontSize13">
                      Machine Learning Engineer
                  </li>
                  <li class="bottomlist fontSize13">
                      Robotics
                  </li>
                  <li class="bottomlist fontSize13">
                      Self-Driving Car Engineer
                  </li>
                  <li class="bottomlist fontSize13">
                      VR Developer
                  </li>
                </ul>
    
                <!---->
              </li>
            </ul>
          </div>
  
  
          <div class="col-md-3 col-sm-2">
  
              <ul class="list-unstyled">
                <li>
                  <h6 class="light">Only At Udacity</h6>
                  <ul class="list-unstyled" style="list-style: none;padding: 6px;">
      
                    <li class="bottomlist">
                        Artificial Intelligence
                    </li>
                    <li class="bottomlist">
                        Deep Learning
                    </li>
                    <li class="bottomlist">
                        Digital Marketing
                    </li>
                    <li class="bottomlist">
                        Machine Learning Engineer
                    </li>
                    <li class="bottomlist">
                        Robotics
                    </li>
                    <li class="bottomlist">
                        Self-Driving Car Engineer
                    </li>
                    <li class="bottomlist">
                        VR Developer
                    </li>
                  </ul>
      
                  <!---->
                </li>
              </ul>
            </div>
      </div>
    </div>
  </section>
