.Maincontainer{
    margin-right: 150px;
    margin-left:150px;
}
.hero--homepage:before {
    content: "";
    width: 100%;
    height: 660px;
    z-index: -1000;
    background: linear-gradient(160deg,#02ccba,#aa7ecd);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: skew(0deg,-15deg);
    transform: skew(0deg,-15deg);
}
.hero--homepage:after {
    clear: both;
    content: "";
    display: table;
}
.logo {
    text-align: left;
}
.header__navbar--logo {
    float: left;
    display: block;
    width: 23.72881356%;
}
.header__navbar--logo {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
    display: block;
    width: 66.10169492%;
}
.page-in .hero__video .video--overlay, .page-in  .hero__video .video--overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 7000;
}
.hero__video .video--overlay {
    height: 29rem;
    display: block;
}

@media screen and (min-width: 62rem)
{
.hero__video {
    float: left;
    display: block;
    width: 100%;
    margin-bottom: 0;
}
}
.header_logo    
{
margin-top: 25px;
}
.pull_right_header{
    float: right;
    display: inline-flex;
    margin-top: -28px;
}
.header_item 
{
    padding-right: 60px;
    line-height: 1.9375rem;
}
.header_item_color{
    width: 100px;
    height: 30px;
    font-size: 13px;
    background-color: transparent;
    border: transparent;
    color: white;
    cursor: pointer;
}
.center_section{
    text-align: center;
    color: white;
    margin-top: 80px;
    /* font-size: 2rem; */
}
.center_section_heading{
    font-size: 2rem;
}
.contain{
    max-width: 100%;
    /* margin-left: auto; */
    /* margin-right: auto; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.hero__video .video--content {
    float: left;
    display: block;
    /* margin-right: 1.69491525%; */
    width: 100%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0;
    text-align: center;
}
.hero__video .video .contain{
    padding: 0;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

.gif_format{
    width: 40%;
}
.rightSideCards{
    width:85%;
    background-color: white;
    border: 1px solid grey;
    padding: 10px;
    /* width: 20%; */
    /* float: right; */
    float: left;
    /* margin-left: -100px; */
    border-radius: 7px;
    -webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    border-radius: .375rem;
    height: 9rem;
}
.sideCardsIcon
{
    width: 110px;
}
.sideCardsContent{
float: right;
margin-top:20px;
}
.secondSecondHeader{
    margin-top:40px;
    text-align:center;
}
.SecondSectionButton{
    color: #02b3e4;
    border: 1px solid #02b3e4;
    background-color: #fff;
    font-size: .65rem;
    margin: 13px;
    padding: 10px;
    border-radius: 9px;

}

.SecondSectionList{
    text-align: center;
   
    padding-right: 58px;
}


.card_top_heading{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgba(2,179,228,.8); 
    height: 160px;
}
.card_bottom_heading{
    border-radius:6px;
 padding: 22px;
    font-weight: 300;
    opacity: 0.8;
    padding-bottom: 75px;
}
.cardlist{
    display: inline-flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.neuralCard {
padding-right: 0px;
border-radius:6px;
box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
padding-left: 0px;
}

.card_top_tag{
    height: 25px;
    background-color: #fff;
    margin: 15px;
    /* padding: 4px; */
    padding-bottom: 10px;
    padding-right: 9px;
    padding-left: 9px;
}
.algo_top_heading{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgba(2,204,186,.8); 
    height: 160px;

}

.Python_top_heading{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color:rgba(169,81,237,.8); 
    height: 160px;

}
.backgroundImage{
    background-size: cover!important;
    /* border-radius:6px; */
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.Artificial_top_heading{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color:rgba(125,151,173,.8); 
    height: 160px;

}

.Machine_top_heading{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color:rgba(255,162,52,.8);
    height: 160px;

}
.Foundation_top_heading{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color:rgba(255,84,131,.8);
    height: 160px;
}
.search_container{
    background-color: #fff;
    margin-top: 70px;
    /* margin-right: 20px;
    margin-left: 20px; */
    margin-bottom: 70px;
    width: 70%;
}
.search_container_content{
    padding: 82px;
    display: inline-flex;
}
.container_written_content{
    margin-left:20px;
}
.container_heading{
    color: #02b3e4;
}
.conatiner_button{
    color: #fff;
    background-color: #02b3e4;
    border: .125rem solid transparent;
    width:100%;
    margin-top:13px;
}
.search_section{
    padding-bottom: 50px;
}
.Advantage_container_heading{
    text-align: center;
}
.Advantage_container_bulb{
    margin-left: 30px;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #fff;
    -webkit-box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
    box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2)
}
.bulb_icon{
    margin-left: 25px;
    margin-top: 20px;
}
.Advantage_container_content{
    display:inline-grid;
}
.Advantage_container_heading_content{
    line-height: 2;
  max-width: 25rem;
  margin-top: 3px;
  font-size: 14px;
}
.Advantage_container_backgroundimg{
    background-size: contain;
    min-width: 310px;
    background-repeat: no-repeat;
    min-height: 210px;
    position: absolute;
    top: 150px;
}
.Advantage_container_img{
    max-width: 310px;
    margin-left: 202px;
    margin-top: 20px;
}
.key_icon {
    margin-left: 8px;
    margin-top: 7px;
}
.purple {
    color: #a951ed;
}
.magenta {
    color: #ff5483!important;
}
.italic{
font-style: italic!important;
}

.text-center {
    text-align: center!important;
}
.light {
    font-weight: 100!important;
}

.mb-1, .mb-half {
    margin-bottom: .75rem!important;
}