<!---     ================      Top    Section Start============================= ---->

<div class="container">
  <section class="hero--homepage">
    <div class=" col-md-12 col-sm-12">
      <div class="header_logo">
        <img src="https://in.udacity.com/assets/iridium/images/core/header/udacity-wordmark-light.svg">
      </div>
      <div class="col-md-7 col-sm-7 pull_right_header">
        <div class="header_item">
          <button class="header_item_color">Nanodegree</button>
        </div>
        <div class="header_item">
          <button class="header_item_color"> For Business </button>
        </div>
        <div class="header_item">
          <button class="header_item_color"> Course Finder </button>
        </div>
        <div class="header_item">
          <button class="header_item_color"> Log In</button>
        </div>
      </div>
    </div>
    <section class="center_section">
      <p class="center_section_heading">Join Udacity and upskill with a Nanodegree Program</p>
      <p>Get ready for the jobs of today and tomorrow</p>
    </section>

    <section>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-7  col-md-7 col-sm-12">
          <div class="hero__video">
            <div class="video">
              <div class="contain" style="background-image: url(&quot;https://in.udacity.com/assets/iridium/images/homepage/shared/hero-in/nd-promo-in/future-ready.jpg&quot;);">

                <a class="video--overlay" href="/campaign/future-ready">
                  <!---->
                  <span class="video--content">
                    <!---->
                    <!---->
                    <img class="gif_format" src="https://in.udacity.com/assets/iridium/images/homepage/shared/icons/future-ready.gif">
                    <!---->
                    <h2 class="mb-half">Prepare yourself for the Future with Udacity</h2>
                    <!---->
                    <p class="summary">
                      <!---->
                      <span>Avail 30% off on the below Nanodegree Programs*</span>
                    </p>
                    <button class="button--white lg center">ENROLL NOW</button>
                    <p>
                      <!---->
                      <span class="mt-half">LAST DATE: 22nd March, 2018</span>
                    </p>
                  </span>
                </a>
                <!---->
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 row">
          <div class="col-md-12 rightSideCards">
            <img class="sideCardsIcon" srcset="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd889-incv.jpg 1x,  2x"
              src="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd889-incv.jpg" alt="Computer Vision Foundations">
            <div class="col-md-7  sideCardsContent">
              <h6 style="color:purple">Avail 30% off</h6>
              <p class="card__content--h5 slate strong">Computer Vision Foundations</p>
              <p class="x-small mb-0"></p>
            </div>
          </div>


          <div class="col-md-12 rightSideCards" style="margin-top:1rem">
            <img class="sideCardsIcon" srcset="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd002-inpy.png 1x,  2x"
              src="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd002-inpy.png" alt="Computer Vision Foundations">
            <div class="col-md-7 sideCardsContent">
              <h6 style="color:purple">Avail 30% off</h6>
              <p class="card__content--h5 slate strong">Python Foundations</p>
              <p class="x-small mb-0"></p>
            </div>
          </div>




          <div class="col-md-12 rightSideCards" style="margin-top:1rem">

            <img class="sideCardsIcon" srcset="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd009.png 1x,  2x"
              src="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd009.png" alt="Computer Vision Foundations">
            <div class="col-md-7 sideCardsContent">
              <h6 style="color:purple">Avail 30% off</h6>
              <p class="card__content--h5 slate strong">Machine Learning Foundation</p>
              <p class="x-small mb-0"></p>
            </div>
          </div>


        </div>
      </div>


    </section>

  </section>

  <!---     ================      Top    Section End============================= ---->

  <!---     ================     Second Section============================= ---->

  <section>
    <div class="col-md-12 col-sm-12">
      <div class="col-md-12 col-sm-12 secondSecondHeader">
        <h1>
          Choose from our category of courses
        </h1>
      </div>
      <div class="container">
      <div class="col-md-12 SecondSectionList">
        <button class="SecondSectionButton">Popular</button>
        <button class="SecondSectionButton"> Machine Learning &amp; Deep Learning </button>
        <button  class="SecondSectionButton">Data Science </button>
        <button  class="SecondSectionButton"> Artificial Intelligence </button>
        <button  class="SecondSectionButton"> Mobile Development </button>
        <button  class="SecondSectionButton"> Web Development </button>
        <button  class="SecondSectionButton"> Virtual Reality </button>
        <button class="SecondSectionButton"> Digital Marketing </button>
        <button  class="SecondSectionButton"> Autonomous Systems </button>
      </div>
    </div>
    </div>
  </section>
</div>


