<!---     ================      Top    Section Start============================= ---->
<app-header *ngIf="showHeader"></app-header>

<div class="Maincontainer">

    <section class="hero--homepage">
      <div class=" col-md-12 col-sm-12">
        <div class="header_logo">
          <img src="https://in.udacity.com/assets/iridium/images/core/header/udacity-wordmark-light.svg">
        </div>
        <div class="col-md-7 col-sm-7 pull_right_header">
          <div class="header_item">
            <button class="header_item_color light">Nanodegree</button>
          </div>
          <div class="header_item">
            <button class="header_item_color light"> For Business </button>
          </div>
          <div class="header_item">
            <button class="header_item_color light"> Course Finder </button>
          </div>
          <div class="header_item">
            <button class="header_item_color light" (click)="moveTologinPage()" >Log In
            </button>
          </div>
        </div>
      </div>
      <section class="center_section light">
        <p class="center_section_heading light">Join Udacity and upskill with a Nanodegree Program</p>
        <p class="light">Get ready for the jobs of today and tomorrow</p>
      </section>
  
      <section>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="col-lg-8  col-md-8 col-sm-12">
            <div class="hero__video">
              <div class="video">
                <div class="contain" style="background-image: url(&quot;https://in.udacity.com/assets/iridium/images/homepage/shared/hero-in/nd-promo-in/future-ready.jpg&quot;);">
  
                  <a class="video--overlay" href="/campaign/future-ready">
                    <!---->
                    <span class="video--content">
                      <!---->
                      <!---->
                      <img class="gif_format" src="https://in.udacity.com/assets/iridium/images/homepage/shared/icons/future-ready.gif">
                      <!---->
                      <h2 class="mb-half">Prepare yourself for the Future with Udacity</h2>
                      <!---->
                      <p class="summary">
                        <!---->
                        <span>Avail 30% off on the below Nanodegree Programs*</span>
                      </p>
                      <button class="button--white lg center">ENROLL NOW</button>
                      <p>
                        <!---->
                        <span class="mt-half">LAST DATE: 22nd March, 2018</span>
                      </p>
                    </span>
                  </a>
                  <!---->
                </div>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-4" style="display:inline-grid;margin-left: 15px;">
            <div class="col-md-12 rightSideCards">
              <img class="sideCardsIcon" srcset="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd889-incv.jpg 1x,  2x"
                src="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd889-incv.jpg" alt="Computer Vision Foundations">
              <div class="col-md-7  sideCardsContent">
                <h6 style="color:purple">Avail 30% off</h6>
                <p class="card__content--h5 slate strong">Computer Vision Foundations</p>
                <p class="x-small mb-0"></p>
              </div>
            </div>
  
  
            <div class="col-md-12 rightSideCards" style="margin-top:1rem">
              <img class="sideCardsIcon" srcset="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd002-inpy.png 1x,  2x"
                src="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd002-inpy.png" alt="Computer Vision Foundations">
              <div class="col-md-7 sideCardsContent">
                <h6 style="color:purple">Avail 30% off</h6>
                <p class="card__content--h5 slate strong">Python Foundations</p>
                <p class="x-small mb-0"></p>
              </div>
            </div>
  
  
  
  
            <div class="col-md-12 rightSideCards" style="margin-top:1rem">
  
              <img class="sideCardsIcon" srcset="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd009.png 1x,  2x"
                src="https://in.udacity.com/assets/iridium/images/homepage/shared/featured-cards/nd009.png" alt="Computer Vision Foundations">
              <div class="col-md-7 sideCardsContent">
                <h6 style="color:purple">Avail 30% off</h6>
                <p class="card__content--h5 slate strong">Machine Learning Foundation</p>
                <p class="x-small mb-0"></p>
              </div>
            </div>
  
  
          </div>
        </div>
  
  
      </section>
  
    </section>
  
    <!---     ================      Top    Section End============================= ---->
  
    <!---     ================     Second Section============================= ---->
  
    <section>
      <div class="col-md-12 col-sm-12">
        <div class="col-md-12 col-sm-12 secondSecondHeader">
          <h1 class="light">
            Choose from our category of courses
          </h1>
        </div>
        <div class="container">
          <div class="col-md-12 SecondSectionList">
            <button class="SecondSectionButton ">Popular</button>
            <button class="SecondSectionButton "> Machine Learning &amp; Deep Learning </button>
            <button class="SecondSectionButton">Data Science </button>
            <button class="SecondSectionButton"> Artificial Intelligence </button>
            <button class="SecondSectionButton"> Mobile Development </button>
            <button class="SecondSectionButton"> Web Development </button>
            <button class="SecondSectionButton"> Virtual Reality </button>
            <button class="SecondSectionButton"> Digital Marketing </button>
            <button class="SecondSectionButton"> Autonomous Systems </button>
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class="col-lg-12 col-md-12 col-sm-12 cardlist" style="margin-bottom:15px;">
        <div class="neuralCard width30" >
          <div class=" backgroundImage" style="border-radius:6px;background-image: url(&quot;https://in.udacity.com/assets/iridium/images/shared/nd-cards/nd101-innl.jpg&quot;);">
            <div class=" card_top_heading">
              <span class="card_top_tag">New!</span>
            </div>
          </div>
  
          <div class="card_bottom_heading">
            <h4 class="light">
              Neural Networks Foundation
            </h4>
          </div>
        </div>
  
  
  
        <div class="neuralCard width30 cardsMargin">
          <div class=" backgroundImage" style="border-radius:6px;background-image: url(&quot;https://in.udacity.com/assets/iridium/images/shared/nd-cards/nd004-indsa.jpg&quot;);">
            <div class=" algo_top_heading">
              <span class="card_top_tag">New!</span>
            </div>
          </div>
  
          <div class="card_bottom_heading">
            <h4 class="light">
              Data Structures & Algorithms Foundation
            </h4>
          </div>
        </div>
  
        <div  class="neuralCard cardsMargin width30">
          <div class=" backgroundImage" style="border-radius:6px;background-image: url(&quot;https://in.udacity.com/assets/iridium/images/shared/nd-cards/nd002-inpy@2x.jpg&quot;);">
            <div class="Python_top_heading">
            </div>
          </div>
  
          <div class="card_bottom_heading">
            <h4 class="light">
              Python Foundation Nanodegree
            </h4>
          </div>
        </div>
  
  
  
  
  
  
      </div>
  
      <!--=====================Second Row ===================-->
      <div class="col-lg-12 col-md-12 col-sm-12 cardlist" style="margin-bottom:15px;">
        <div class="width30 neuralCard">
          <div class="backgroundImage" style="background-image: url(&quot;https://in.udacity.com/assets/iridium/images/shared/nd-cards/nd889@2x.jpg&quot;);">
            <div class="Artificial_top_heading">
            </div>
          </div>
  
          <div class="card_bottom_heading">
            <h4 class="light">
              Artificial Intelligence Foundation Nanodegree
            </h4>
          </div>
        </div>
  
  
  
        <div class="width30 neuralCard cardsMargin">
          <div class="backgroundImage" style="border-radius:6px;background-image: url(&quot;https://in.udacity.com/assets/iridium/images/shared/nd-cards/nd009@2x.jpg&quot;);">
            <div class="Machine_top_heading">
            </div>
          </div>
  
          <div class="card_bottom_heading">
            <h4 class="light">
              Machine Learning Nanodegree
            </h4>
          </div>
        </div>
  
        <div  class="width30 neuralCard cardsMargin">
          <div class=" backgroundImage" style="border-radius:6px;background-image: url(&quot;https://in.udacity.com/assets/iridium/images/shared/nd-cards/nd009@2x.jpg&quot;);">
            <div class="Foundation_top_heading">
            </div>
          </div>
  
          <div class="card_bottom_heading">
            <h4 class="light">
              Machine Learning Foundation Nanodegree
            </h4>
          </div>
        </div>
      </div>
    </section>
  </div>
  
  <section class="search_section" style="margin-right:0px;padding-right:0px">
    <div class="col-lg-12 col-md-12 col-sm-12 row " style="margin-right:0px;padding-right:0px;background-image: linear-gradient(to bottom right,#02b3e4,#02ccba);">
      <div class="container search_container">
        <div class="search_container_content">
          <div>
            <img alt="magnify" src="https://in.udacity.com/assets/iridium/images/shared/icons/icon_magnify_blue.svg">
          </div>
          <div class="col-md-8 container_written_content">
            <h3 class="container_heading light">Imagine your future!
  
            </h3 >
            <p>What do you want to learn today? What's your dream job? Discover the program that's right for you!</p>
          </div>
          <div class="col-md-3">
            <button class="btn-primary btn-lg conatiner_button">
              Get Started
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="search_section">
    <div class="container">
      <div class="col-md-12 col-sm-12">
        <h2 class="container_heading Advantage_container_heading light">
          The Udacity Advantage
        </h2>
      </div>
      <div class="col-md-12 col-sm-12" style="padding-top:90px;display: inline-flex;">
        <div class="col-md-6 col-sm-6">
          <div class=" Advantage_container_bulb">
            <img class="bulb_icon" alt="High quality content" src="https://in.udacity.com/assets/iridium/images/shared/icons/icon-bulb.svg"
              srcset="https://in.udacity.com/assets/iridium/images/shared/icons/icon-bulb.svg 1x">
          </div>
          <div class="col-md-12 col-sm-12" style="padding:35px;">
            <h3 class="container_heading  Advantage_container_content light">
              <span >Master the most </span>
              <span>competitive skills</span>
            </h3>
            <p class="Advantage_container_heading_content light light">Our Nanodegree programs are built with the world's most forward–thinking companies–Google, Facebook, AT&amp;T,
              IBM, GitHub, and more. Our expert project reviewers, mentors and coaches ensure that you're job-ready.</p>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <img alt="Master the most Competitive Skills" class="Advantage_container_img" irdeferimage="" src="https://in.udacity.com/assets/iridium/images/shared/features/thumb-competitive-skills-fg.jpg"
            srcset="https://in.udacity.com/assets/iridium/images/shared/features/thumb-competitive-skills-fg.jpg 1x">
          <div class="Advantage_container_backgroundimg" style="background-image: url(&quot;https://in.udacity.com/assets/iridium/images/shared/features/thumb-competitive-skills-bg.jpg&quot;);"></div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section class="search_section">
    <div class="container">
      <div class="col-md-12 col-sm-12" style="padding-top:90px;display: inline-flex;">
        <div class="col-md-6 col-sm-6">
          <img alt="Master the most Competitive Skills" class="Advantage_container_img" irdeferimage="" src="https://in.udacity.com/assets/iridium/images/shared/features/thumb-get-hired-fg.jpg"
            srcset="https://in.udacity.com/assets/iridium/images/shared/features/thumb-get-hired-fg.jpg  1x">
          <div class="Advantage_container_backgroundimg" style="background-image: url(&quot;https://in.udacity.com/assets/iridium/images/shared/features/thumb-get-hired-bg.jpg&quot;);"></div>
        </div>
        <div class="col-md-6 col-sm-6 getHiredMargin">
          <div class=" Advantage_container_bulb">
            <img class="bulb_icon" alt="High quality content" src="https://in.udacity.com/assets/iridium/images/shared/icons/icon-badge.svg"
              srcset="https://in.udacity.com/assets/iridium/images/shared/icons/icon-badge.svg 1x">
          </div>
          <div class="col-md-12 col-sm-12" style="padding:35px;">
            <h3 class="container_heading  Advantage_container_content magenta light">
              <span>Get hired by </span>
              <span>world–changing companies</span>
            </h3>
            <p class="Advantage_container_heading_content light">Hiring partnerships with leaders like IBM, Mercedes–Benz, Didi Chuxing, and more open amazing career opportunities...
              and Blitz gives you a new path to getting hired</p>
          </div>
        </div>
  
      </div>
    </div>
  </section>
  
  <section class="search_section">
    <div class="container">
      <div class="col-md-12 col-sm-12" style="padding-top:90px;display: inline-flex;">
        <div class="col-md-6 col-sm-6">
          <div class=" Advantage_container_bulb">
            <img class="key_icon" alt="High quality content" src="https://in.udacity.com/assets/iridium/images/shared/icons/icon-keys.svg"
              srcset="https://in.udacity.com/assets/iridium/images/shared/icons/icon-keys.svg 1x">
          </div>
          <div class="col-md-12 col-sm-12" style="padding:35px;">
            <h3 class="container_heading  Advantage_container_content purple light">
              <span>Master the most </span>
              <span>competitive skills</span>
            </h3>
            <p class="Advantage_container_heading_content light">Our Nanodegree programs are built with the world's most forward–thinking companies–Google, Facebook, AT&amp;T,
              IBM, GitHub, and more. Our expert project reviewers, mentors and coaches ensure that you're job-ready.</p>
          </div>
        </div>
        <div class="col-md-5 col-sm-5">
          <img alt="Master the most Competitive Skills" class="Advantage_container_img" irdeferimage="" src="https://in.udacity.com/assets/iridium/images/shared/features/thumb-impact-fg.jpg"
            srcset="https://in.udacity.com/assets/iridium/images/shared/features/thumb-impact-fg.jpg 1x">
          <div class="Advantage_container_backgroundimg" style="background-image: url(&quot;https://in.udacity.com/assets/iridium/images/shared/features/thumb-impact-bg.jpg&quot;);"></div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section>
  <div class="col-md-12 col-sm-12" style="margin-top:70px;">
    <div class="container">
      <div> <h6 class="text-center light .mb-half light ">OUR AMAZING COMMUNITY</h6></div>
      <div   style="display:inline-flex">
         
              <span class="light container_heading" style="font-size:70px;cursor: pointer;" (click)="previous()">
                <
              </span>
            
        <h3 class="italic text-center light .mb-half " style="padding: 20px;
        margin-left: 19px;
        margin-right: 20px;">
          {{showComment.comment}}
            <!-- "Udacity has empowered me to be a better software engineer. They have given me opportunities that I would not have if I had to rely on the traditional education system." -->
        </h3>
    
        <span class="light container_heading" style="font-size:70px;cursor: pointer;" (click)="next()">
              >
        </span>
       
        
      </div>
      <div class=" col-md-12 text-center light .mb-half"><h6> {{showComment.author}}</h6></div>
     
    </div>
  </div>
  
  
  </section>
  
  
  
  
  
